NODE_ENV=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=proyecto
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/proyecto
DATABASE_READ_URL=postgresql://postgres:postgres@postgres-replica:5432/proyecto
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://rabbitmq:5672
# Generar con: npm run kong:setup
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
KONG_JWT_MODE=production
AWS_REGION=us-east-1
S3_BUCKET=academic-materials
CLOUDFRONT_DOMAIN=example.cloudfront.net
TLS_MIN_VERSION=TLSv1.3
